.card {
  --asepect-ratio: 0.6;
  --border-radius: 15%;

  border-radius: var(--border-radius) / calc(var(--border-radius) * (var(--asepect-ratio)));
  aspect-ratio: var(--asepect-ratio);

  background-color: antiquewhite;
  border: 4px solid darksalmon;
}
