@use "sass:color";

.board-container {
  .tile-container {
    filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 20%));
  }

  .board-frame {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }

  .board {
    background-color: color.adjust(chocolate, $lightness: -6%);
    border: 2px solid color.adjust(chocolate, $lightness: -18%);
    border-radius: 10px;
    padding: 4px;
    grid-column: 2 / 9;
    grid-row: 2 / 9;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 3px;
  }

  .frame-side {
    display: grid;
    grid-gap: 3px;

    &.left {
      border: 2px solid magenta;
      grid-template-rows: repeat(7, 1fr);
      grid-column: 1 / 1;
      grid-row: 2 / 9;
    }

    &.right {
      border: 2px solid cyan;
      grid-template-rows: repeat(7, 1fr);
      grid-column: 9 / 9;
      grid-row: 2 / 9;
    }

    &.top {
      border: 2px solid yellow;
      grid-template-columns: repeat(7, 1fr);
      grid-column: 2 / 9;
      grid-row: 1 / 1;
    }

    &.bottom {
      border: 2px solid darkorange;
      grid-template-columns: repeat(7, 1fr);
      grid-column: 2 / 9;
      grid-row: 9 / 9;
    }

    div.movable {
      transition: filter 0.1s ease;
      filter: brightness(40%) contrast(60%) grayscale(60%);
    }

    div.movable:hover {
      filter: brightness(100%) contrast(100%);
    }
  }

  .player-tile-container {
    display: flex;
    justify-content: center;
  }
  .player-tile .tile {
    transition: transform 0.3s ease-in-out;
  }

  .movable-tile {
    offset-rotate: 0deg;
    offset-anchor: 0 0;
  }
}
